[submodule "modules/elasticsearch"]
	path = modules/elasticsearch
	url = https://github.com/elastic/puppet-elasticsearch.git
	branch = tag/5.4.3
[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
	branch = releases/tag/4.19.0
[submodule "modules/apt"]
	path = modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt.git
	branch = release/tag/4.1.0
[submodule "modules/yum"]
	path = modules/yum
	url = https://github.com/CERIT-SC/puppet-yum.git
	branch = releases/tag/0.9.8
[submodule "modules/datacat"]
	path = modules/datacat
	url = https://github.com/richardc/puppet-datacat.git
	branch = 5a6114cd41823160bdb01dad6eb0e2af85a8fa69
[submodule "modules/logstash"]
	path = modules/logstash
	url = https://github.com/elastic/puppet-logstash.git
	branch = releases/tag/5.2.1
[submodule "modules/kibana4"]
        path = modules/kibana4
        url = https://github.com/lesaux/puppet-kibana4.git
        branch = v1.0.17
[submodule "modules/kibana"]
        path = modules/kibana
        url = https://github.com/elastic/puppet-kibana.git
        branch = releases/tag/5.1.0
[submodule "modules/apache"]
        path = modules/apache
        url = https://github.com/puppetlabs/puppetlabs-apache.git
        branch = 1.10.0
[submodule "modules/redis"]
	path = modules/redis
        url = https://github.com/arioch/puppet-redis.git
        branch = 1.2.3
[submodule "modules/inifile"]
	path = modules/inifile
	url = https://github.com/puppetlabs/puppetlabs-inifile.git
        branch = 1.6.0
[submodule "modules/concat"]
	path = modules/concat
	url = https://github.com/puppetlabs/puppetlabs-concat.git
        branch = 4.0.1
